@use "../../../styles/tokens" as tokens;

.footer {
  border-top: 1px solid var(--color-border);
}

.inner {
  width: 100%;
  max-width: tokens.$container-desktop;

  min-height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  padding-inline: tokens.$container-padding-desktop;

  margin-inline: auto;

  color: var(--color-text-muted);

  font-size: 11px;
}

@media (max-width: tokens.$tablet) {
  .inner {
    padding-inline: tokens.$container-padding-tablet;
  }
}

@media (max-width: 480px) {
  .inner {
    min-height: 90px;

    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    padding-inline: tokens.$container-padding-mobile;
  }
}